.flowingMenuContainer {
    height: 200px;
    position: relative;
    margin: 40px 0;
}

/* Add 1024px media query to remove margins */
@media screen and (max-width: 1024px) {
    .flowingMenuContainer {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .flowingMenuContainer {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .flowingMenuContainer {
        display: none;
    }
}