/* Mobile Background Component - Only for 768px and below */
.mobileContainer {
  display: none;
}

@media screen and (max-width: 768px) and (min-width: 429px) {
  .mobileContainer {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .shadow {
    position: absolute;
    right: 0px;
    top: -20px;
    width: 600px;
    height: 800px;
    z-index: 2;
  }

  .leaf {
    position: absolute;
    right: 230px;
    top: -30px;
    width: 531px;
    height: 602px;
    z-index: 5;
  }

  .banana {
    position: absolute;
    right: -50px;
    top: 70px;
    width: 600px;
    height: 420px;
    transform: rotate(25deg);
    z-index: 3;
  }

  .strawberry {
    position: absolute;
    right: 50px;
    top: 40px;
    width: 208px;
    height: 203px;
    z-index: 4;
  }
}

/* Hide mobile background at 428px and below */
@media screen and (max-width: 428px) {
  .mobileContainer {
    display: none !important;
  }
}